<p>cart-list works!</p>
<div class="cart-list" *ngIf="!isCartEmpty(); else cartIsEmpty">
    <app-cart-item *ngFor="let cartItem of cartItems"
        [cartItem]="cartItem"
        [itemCount]="cartItem.count"
        (deleteItem)="onDeleteItem($event)"
        (quantityDecrease)="onQuantityDecrease($event)"
        (quantityIncrease)="onQuantityIncrease($event)"
        appHighlight
        ></app-cart-item>
    <table>
        <tr>
            <th>Total Cost:</th>
            <td>{{getTotalCost()}}</td>
        </tr>
        <tr>
            <th>Total Quantity:</th>
            <td>{{getTotalQuantity()}}</td>
        </tr>
    </table>
    <button (click)="onClearCart()">Clear cart</button>
</div>


<ng-template #cartIsEmpty>Your cart is empty! Let's buy something</ng-template>
